{% extends "base.html" %}
{% block content %}
<h2>My Cart</h2>
<ul id="cartList"></ul>

<script>
async function loadCart(){
    let res = await fetch("/cart", {
        headers:{
            "Authorization": "Bearer " + localStorage.getItem("token")
        }
    });

    let items = await res.json();
    let ul = document.getElementById("cartList");

    items.forEach(i=>{
        ul.innerHTML += `<li>${i.name} - ₹${i.price} x ${i.quantity}</li>`;
    });
}

loadCart();
</script>
{% endblock %}
